html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  text-align: left;
  margin: 2em;
}

/* dark mode */

@media (prefers-color-scheme: dark) {

  body {
    background: #121212;
  }

  svg {
    color : #fff;
  }

  .link-dark,
  .text-dark {
    color: #fff !important;
  }

  .post {
    background: #000;
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {

  .post {
    background: #f4f4f4;
  }
}

header .nav-link {
  font-size: 18px;
  font-weight: 550;
}

button  {
  border-radius: 10px;
  background: #00b5ee;
  border: none;
  padding: 0.5em 1.5em;
}

button:hover {
  background: #017ea4;
  transition: 400ms;
}

button span {
  font-size: 16px;
  font-weight: 550;
}

.nav-link.active {
  color: #3478f7;
  font-weight: 600;
}

.nav-link.sidebarItems {
  font-size: 18px;
  padding: 0.5em 0em;
  font-weight: 500;
}

.post {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2em;
  gap: 1em;

  border-radius: 20px;
  margin-bottom: 1em;
}

.post-title {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1em;
}

.post .content {
  display: flex;
  flex-direction: column;
}

.post .icon {
  margin-left: auto;
  font-size: 2.5em;
}

.dropdown {
  display: block;
  text-align: right;
}

.dropdown .btn {
  border-radius: 10px;
  background: grey;
  padding: 0.5em 1.5em;
}

#newPost {
  flex-direction:column;
  align-items: normal;
  padding: 1em;
}

#newTitle{
  border-radius: 15px;
  width: 100%;
  font-size: 1.25em;
  padding-left: 15px;
  padding-right: 15px;
  height: fit-content;
}